@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@import "tailwindcss";

@theme {
  --font-poppins:'Poppins', 'sans-serif'
}

.gradient-top-border {
  position: relative;
  border-top: 3px solid transparent;
}

.gradient-top-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #7c3aed, #ec4899);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

